---
http_interactions:
- request:
    method: get
    uri: https://digital-forms-api-fake.fake.bip.va.gov/api/v1/rest/forms/21-686c/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 27 Aug 2007 17:15:36 GMT
    body:
      encoding: UTF-8
      string: '{
  "messages": [
    {
      "key": "string",
      "severity": "INFO",
      "status": 0,
      "text": "string",
      "timestamp": "2026-02-24T04:09:15.741Z"
    }
  ],
  "formTemplate": {
    "formTemplate": {
    "21-686c": {
    "$schema": "https://vefs-forms-api.prod.bip.vba.va.gov/api/v1/rest/forms/formTemplateSchema/versions/1.0/schema",
    "formId": "21-686c",
    "title": "21-686c Form Template",
    "description": "Form Template for 21-686c Application Request to Add and/or Remove Dependents",
    "version": "1.0",
    "sections": [
      {
        "sectionNumber": "1",
        "sectionId": "veteranInformationSection",
        "sectionHeader": "Section 1: Veteran information"
      }
    ]
    }
    }
  }
  }'
  recorded_at: Tue, 13 May 2025 19:26:37 GMT
recorded_with: VCR 6.3.1